fastapi>=0.70.0
uvicorn>=0.15.0
pydantic>=1.8.2
python-multipart>=0.0.5
transformers>=4.15.0
torch>=2.5.0
soundfile>=0.10.3
numpy>=1.21.4
sentencepiece
SpeechRecognition
gtts
pydub
gradio
requests
# torch 
torchvision
timm 
pytesseract 
opencv-python