@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés pour le scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1b2a;
}

::-webkit-scrollbar-thumb {
  background: #2a3f5a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b2838;
}